src/node-red_workflows/eike/photo_sender_test.json
[{"id":"29b3c68d.b46af2","type":"tab","label":"Flow WFS","disabled":false,"info":""},{"id":"96b1954d.a1068","type":"telegram sender","z":"29b3c68d.b46af2","name":"Eike","bot":"3b0c9b73.71824c","x":890,"y":180,"wires":[[]]},{"id":"c4ff15fd.d37f2","type":"inject","z":"29b3c68d.b46af2","name":"austria_map","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":180,"wires":[["857602.7768ca","cc8c56f2.86f79"]]},{"id":"857602.7768ca","type":"function","z":"29b3c68d.b46af2","name":"telegram_formatter","func":"msg.payload = {chatId: 488164434, type: 'photo', content: 'http://human.zgis.at/geoserver/covid_dashboard/wms?service=WMS&version=1.1.0&request=GetMap&layers=covid_dashboard:austria_cases_today&styles=&bbox=1060980.76885606,5840269.4009236,1910467.77318673,6278453.84310421&width=768&height=396&srs=EPSG:3857&format=image%2Fpng', caption: 'Austria Covid-19'}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["933f0721.3b2848","96b1954d.a1068"]]},{"id":"933f0721.3b2848","type":"debug","z":"29b3c68d.b46af2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":60,"wires":[]},{"id":"af6f86e2.edb8","type":"jimp-image","z":"29b3c68d.b46af2","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"greyscale","selectedJimpFunction":{"name":"greyscale","fn":"greyscale","description":"remove colour from the image","parameters":[]},"x":580,"y":400,"wires":[["6d96ce4f.f9df28","a76f1d82.fb394"]]},{"id":"6d96ce4f.f9df28","type":"image viewer","z":"29b3c68d.b46af2","name":"","width":160,"data":"payload","dataType":"msg","x":810,"y":360,"wires":[[]]},{"id":"cc8c56f2.86f79","type":"function","z":"29b3c68d.b46af2","name":"telegram_formatter","func":"msg.payload = 'http://human.zgis.at/geoserver/covid_dashboard/wms?service=WMS&version=1.1.0&request=GetMap&layers=covid_dashboard:austria_cases_today&styles=&bbox=1060980.76885606,5840269.4009236,1910467.77318673,6278453.84310421&width=768&height=396&srs=EPSG:3857&format=image%2Fpng'\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["af6f86e2.edb8"]]},{"id":"a76f1d82.fb394","type":"function","z":"29b3c68d.b46af2","name":"telegram_formatter","func":"msg.payload = {chatId: 488164434, type: 'photo', content: msg.payload, caption: 'Austria Covid-19 greyscaled'}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":240,"wires":[["e4e7b5c3.cf4cb"]]},{"id":"e4e7b5c3.cf4cb","type":"image viewer","z":"29b3c68d.b46af2","name":"","width":160,"data":"payload.content","dataType":"msg","x":890,"y":260,"wires":[[]]},{"id":"3b0c9b73.71824c","type":"telegram bot","z":"","botname":"gnsTest_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]