src/node-red_workflows/eike/playground.json
[{"id":"741aeb2d.ef3794","type":"tab","label":"Flow 1 SDI Eike Blomeier","disabled":false,"info":""},{"id":"ffde3eaf.c41d28","type":"inject","z":"741aeb2d.ef3794","name":"corona_poller","topic":"","payload":"timestamp","payloadType":"str","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["2aa2f09c.8b759"]]},{"id":"c4b7d947.4a167","type":"function","z":"741aeb2d.ef3794","name":"telegram_formatter","func":"msg.payload = {chatId: 488164434, type: 'message', content: msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["6992a60.06a53dc","20ed0bad.9840ac"]]},{"id":"6992a60.06a53dc","type":"telegram sender","z":"741aeb2d.ef3794","name":"Eike","bot":"3b0c9b73.71824c","x":910,"y":260,"wires":[[]]},{"id":"20ed0bad.9840ac","type":"debug","z":"741aeb2d.ef3794","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":400,"wires":[]},{"id":"5a82a69a.6c447","type":"function","z":"741aeb2d.ef3794","name":"Text_Formatter","func":"var today = new Date();\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nvar dateTime = date+' '+time;\nmessage = 'The current time is: ' + dateTime;\nmsg.payload = message;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["af7fce1a.c39d08"]]},{"id":"af7fce1a.c39d08","type":"debug","z":"741aeb2d.ef3794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":120,"wires":[]},{"id":"2aa2f09c.8b759","type":"http request","z":"741aeb2d.ef3794","name":"covid19_austria_gkz","method":"GET","ret":"txt","paytoqs":false,"url":"https://covid19-dashboard.ages.at/data/CovidFaelle_GKZ.csv","tls":"","proxy":"","authType":"","x":240,"y":180,"wires":[["7167fc1c.801934"]]},{"id":"17c80f29.fe3849","type":"debug","z":"741aeb2d.ef3794","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"7167fc1c.801934","type":"csv","z":"741aeb2d.ef3794","name":"","sep":";","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":250,"y":320,"wires":[["17c80f29.fe3849","e73e4f7e.16a248"]]},{"id":"e73e4f7e.16a248","type":"json","z":"741aeb2d.ef3794","name":"","property":"payload","action":"str","pretty":false,"x":460,"y":360,"wires":[["c4b7d947.4a167","66a8c540.4a6044"]]},{"id":"66a8c540.4a6044","type":"debug","z":"741aeb2d.ef3794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":480,"wires":[]},{"id":"3b0c9b73.71824c","type":"telegram bot","z":"","botname":"gnsTest_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]